<%- include("partials/header"); %>

<div class="container ">

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=pokemonData.id%>.png"
                    alt="Avatar" style="width:95%" />
                <div class="container">
                    <p>No.<%=pokemonData.id%> <%=pokeName[pokemonData.id]%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <p>    Type:     </p>
                    <% pokemonData.types.forEach(function(type){  %>
                        <li><%=type.type.name%> </li>
                    <% });  %> <br>
                <p>    Weight:     </p>
                <p> <%=pokemonData.weight%> </p>
                    

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <p>Moves:
                <ul>
                    <% pokemonData.moves.forEach(function(move){  %>
                        <li><%=move.move.name%> </li>
                    <% });  %>
                    <br><br><br>
                </ul>
                </p>
            </div>
        </div>


    </div>


</div>

<%- include("partials/footer"); %>